<!DOCTYPE html>
<html lang="<?=App::getRouter()->getLanguage()?>">
<head>
    <title><?php echo Config::get('site_name')?></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="/webroot/css/style.css?v=26">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script data-require="MomentJS@2.10.0" data-semver="2.10.0" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
</head>
<body style="background-color: <?php echo $data['body_color'];?>!important">
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: <?php echo $data['header_color'];?>!important">
        <a class="navbar-brand" href="/"><?=Config::get('site_name')?></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <?php echo $data['menu'];?>  
        <form 
            class="form-inline my-2 my-lg-0 dropdown" 
            method="get" 
            action="/news/search/"
            id="form-search" 
            >
          <input 
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Search news by tag" 
            aria-label="Search" 
            id="search-top"
            name="tags[]" 
            autocomplete="off"
        >
          <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
          <div class="dropdown-menu"></div> 
        </form>        
        <ul class="navbar-nav mr-auto nav-user">
            <?php if (Session::get('login')):?>
            <li class="nav-item">
                <a class="nav-link" href="/users/logout/">Logout</a>
            </li>
            <?php else:?>
            <li class="nav-item">
                <a class="nav-link" href="/users/login/">Login</a>
            </li>                    
            <li class="nav-item">
                <a class="nav-link" href="/users/register/">Register</a>
            </li>
            <?php endif;?>                
        </ul>
      </div>
    </nav>
</div>

    <main role="main" class="container">
        <div class="row">
            <div class="col-2 products-advert js-advert-left">
                <?php echo $data['advert_left'];?>
            </div>
            <div class="col-8">
                <div class="starter-template">
                    <?php if ( App::getRouter()->getUri() != "" ):?>
                    
                        <?php if ( Session::hasFlash() ):?>
                        <div class="alert alert-info" role="alert">
                            <?=Session::flash()?>
                        </div>
                        <?php endif;?>

                        <?php echo $data['content'];?>
                    <?php else:?>
                        <?php echo $data['slider'];?>
                    <?php endif;?>
                </div>
            </div>
            <div class="col-2 products-advert js-advert-right">
              <?php echo $data['advert_right'];?>
            </div>
        </div>
    </main>

    <!-- Modal begin -->
    <div class="modal fade" id="subsriber" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Subscription Form</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Full name</label>
                    <div class="col-sm-8">
                        <input type="twxt" value="" name="fullName" class="required email form-control" id="mce-EMAIL"/>
                    </div>
                </div>                
                <div class="form-group remove-bottom">
                    <div class="col-sm-offset-4 col-sm-8">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"/>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer remove-top">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal - end -->
    <script src="/webroot/js/valid.js?v=43"></script>
    <script src="/webroot/js/custom.js?v=1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>