<h5>Filter</h5>
<form class="" method="get" action="/news/search/" style="margin-bottom: 20px;">

    <div class="form-group">
	  	<label for="dateFrom">Date from</label>
	    <input type="date"  name="date_from" id="dateFrom" />
	    <label for="dateFrom">Date to</label>
	    <input type="date"  name="date_to" id="dateTo" />
    </div>
 
	<div class="form-group">
		<label>Choose sections...</label>
		<select multiple class="form-control" name="sections[]">
		  <?foreach($data['filter']['sections'] as $section):?>
		      <option value="<?=$section['alias']?>"><?=$section['title']?></option>
		  <?endforeach;?>
		</select>
	</div>
	<div class="form-group">
	  <label>Choose tags...</label>
		<select multiple class="form-control" name="tags[]">
			<?foreach($data['filter']['tags'] as $tag):?>
			  <option value="<?=$tag?>"><?=$tag?></option>
			<?endforeach;?>
		</select>
	</div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<!-- news -->
<h5>News list</h5>
<div class="list-group">
<?php foreach ($data["items"] as $item):?>
  <a href="/news/detail/<?=$item['alias']?>" class="list-group-item list-group-item-action">
  	<?=$item['title']?>
  </a>
<?php endforeach;?>
</div>

<nav aria-label="..." style="margin-top: 20px;">
  <ul class="pagination pagination-lg">
  	<?php for ($page=1; $page<=$data["pagination"]["pages"]; $page++):?>
	    <li class="page-item <?if ($page == $data['pagination']['page']) echo 'disabled';?>">
	    	<?if ($page == 1):?>
		      <a class="page-link" href="<?=$data['pagination']['curentPage']?>">
		      	<?=$page?>
		      </a>
		    <?else:?>
		      <a class="page-link" href="<?=$data['pagination']['curentPage']?>page-<?=$page?>">
		      	<?=$page?>
		      </a>		    	
		    <?endif;?>
	    </li>
    <?endfor;?>
  </ul>
</nav>
